.home{
  height: 100vh;
  width: 50rem;
 
  background-color: #ffff;
}

.home-content{
  width: 100%;

  padding: 1.5rem;

  gap: 1.5rem;
  background-color: #ffff;
}

@media screen and (max-width: 800px) {
  .home {
    width: 80%;
  }
}
