:root{
  --color-bg: #DDDDDD;
  --gray-100: #CCCCCC;
  --gray-200: #999999;
  --gray-300: #777777;
  --red-100: #FF5151;
  --green-100: #47B960;
  --blue-100: #7695EC;

  --font-size-large: 1.37rem;
  --font-size-regular: 1.12rem
  --font-size-small: 1rem

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Roboto', sans-serif;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
